APP_NAME="Queenzy Mart"
APP_URL=https://queenzystores.com

DB_HOST=localhost
DB_NAME=mart_a99_queenzy
DB_USER=root
DB_PASSWORD=

STRIPE_SECRET_KEY=
PAYSTACK_SECRET_KEY=

SMTP_HOST=queenzystores.com
SMTP_PORT=465
SMTP_SECURE=ssl
SMTP_AUTH=true
SMTP_USERNAME=noreply@queenzystores.com
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=noreply@queenzystores.com
MAIL_FROM_NAME="Queenzy Stores"
ADMIN_ORDER_EMAIL=orders@queenzystores.com
